<%- contentFor('HeaderCss') %>
    <!-- Datatables css -->
    <link href="assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
    <link href="assets/vendor/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterangepicker css -->
    <link href="assets/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />


    <%- contentFor('body') %>
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div
                    class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">
                    <h4 class="page-title">Card Management</h4>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Jidox</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; gap: 10px; margin-bottom: 15px;">
                        </div>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                            aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                            </div>
                        </div>
                        <div class="container mt-4" style="max-width: 90%; margin: 0 auto;">
                            <h4 class="text-center mb-4">Card Status Approver
                                <hr class="border-3 border-dark">
                            </h4>

                            <!-- Search Form -->
                            <div class="row mb-3 d-flex align-items-center">
                                <label class="form-label me-2">Select Card Update Request</label>
                                <div class="col-md-4">
                                    <select class="form-control select2" data-toggle="select2">
                                        <option value="">Select Request</option>
                                        <option value="1">Card 1</option>
                                        <option value="2">Card 2</option>
                                    </select>
                                </div>
                                <div class="col-md-auto">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>


                            <!-- Card Status Change Heading -->
                            <h4 class="mb-3">Card Status Change</h4>

                            <!-- Card Status Form -->
                            <div class="mb-3">
                                <!-- Company and Account in one row -->
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Company:</label>
                                        <input type="text" class="form-control" placeholder="Company">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">Account:</label>
                                        <input type="text" class="form-control" placeholder="Account">
                                    </div>
                                </div>
                            
                                <!-- Card Number and Card Holder Name in one row -->
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Card Number:</label>
                                        <input type="text" class="form-control" placeholder="Card Number">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-form-label">Card Holder Name:</label>
                                        <input type="text" class="form-control" placeholder="Card Holder Name">
                                    </div>
                                </div>
                            
                                <!-- Current Card Status as a single input -->
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Current Card Status:</label>
                                        <input type="text" class="form-control" placeholder="Current Card Status">
                                    </div>
                                </div>
                            </div>
                            

                            <!-- New Card Status -->
                            <div class="mb-3">
                                <label class="form-label">New Card Status:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="cardStatus" id="active"
                                        value="active">
                                    <label class="form-check-label" for="active">Active</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="cardStatus" id="inactive"
                                        value="inactive">
                                    <label class="form-check-label" for="inactive">Inactive</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="cardStatus" id="lost"
                                        value="lost">
                                    <label class="form-check-label" for="lost">Lost/Stolen</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="cardStatus" id="closed"
                                        value="closed">
                                    <label class="form-check-label" for="closed">Closed</label>
                                </div>
                            </div>

                            <button class="btn btn-success mb-4">Update</button>

                            <!-- PIN Reset Heading -->
                            <h4 class="mb-3">PIN Reset</h4>

                            <!-- PIN Reset Form -->
                            <div class="row mb-3 d-flex align-items-center">
                                <label class="form-label me-2">Select Pin Reset Request</label>
                                <div class="col-md-4">
                                    <select class="form-control select2" data-toggle="select2">
                                        <option value="">Select Request</option>
                                        <option value="1"> 1</option>
                                        <option value="2"> 2</option>
                                    </select>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <label for="cardNumberSearch" class="form-label">Card Number:</label>
                                        <input type="text" id="cardNumberSearch" class="form-control"
                                            placeholder="Enter Card Number">
                                    </div>
                                </div>
                                <button class="btn btn-danger" style="width: 10%;">Reset</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div> <!-- end card body-->
        </div> <!-- end card -->
        </div><!-- end col-->
        </div> <!-- end row-->


        <%- contentFor('FooterJs') %>
            <!-- Datatables js -->
            <script src="assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.pdfmin.js"></script>
            <script src="assets/vendor/select2/js/select2.min.js"></script>
            <script src="assets/vendor/flatpickr/flatpickr.min.js"></script>
            <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>



            <!-- Flatpickr Timepicker Plugin js -->
            <script src="assets/vendor/flatpickr/flatpickr.min.js"></script>

            <!-- Typehead Demo js -->

            <!-- Timepicker Demo js -->
            <script src="assets/js/pages/demo.flatpickr.js"></script>

            <!-- <script src="assets/js/pages/demo.typehead.js"></script> -->
            <!-- Daterangepicker Plugin js -->
            <script src="assets/vendor/daterangepicker/moment.min.js"></script>
            <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>





            <!-- Datatable Demo Aapp js -->
            <!-- <script src="assets/js/pages/demo.datatable-init.js"></script> -->
            <script>
                flatpickr("#range-datepicker", {
                    mode: "range",
                    dateFormat: "d-m-Y"
                });



                $(document).ready(() => {
                    $('.select3').select2({
                        width: '100%',
                        dropdownParent: $('#offcanvasRight')

                    })
                })
            </script>