<%- contentFor('HeaderCss') %>
    <!-- Datatables css -->
    <link href="assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="assets/vendor/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
    <link href="assets/vendor/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterangepicker css -->
    <link href="assets/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />


    <%- contentFor('body') %>
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div
                    class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">
                    <h4 class="page-title">Card Top Up</h4>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Jidox</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Tables</a></li>
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; gap: 10px; margin-bottom: 15px;">
                        </div>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                            aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">
                            </div>
                        </div>
                        <div class="container mt-4" style="max-width: 90%; margin: 0 auto;">
                            <h4 class="text-center mb-4">Limit Top Up-Checker
                                <hr class="border-3 border-dark">
                            </h4>

                            <form>
                                <div class="row mb-3">
                                    <div class="col-md-6 d-flex flex-column align-items-start">
                                        <label class="form-label small">Instrument Type *</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column align-items-start">
                                        <label class="form-label small">Bank Name *</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6 d-flex flex-column align-items-start">
                                        <label class="form-label small">Instrument Reference No *</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column align-items-start">
                                        <label class="form-label small">Total Top Up Amount *</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="mb-3 d-flex flex-column align-items-start">
                                    <label class="form-label small">Select Category *</label>
                                    <div class="d-flex">
                                        <div class="form-check me-3">
                                            <input type="radio" name="category" id="b2b" class="form-check-input">
                                            <label for="b2b" class="form-check-label">Prepaid B2B</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="radio" name="category" id="b2c" class="form-check-input">
                                            <label for="b2c" class="form-check-label">Prepaid B2C</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 d-flex flex-column align-items-start">
                                    <label class="form-label small">Select Company</label>
                                    <select class="form-control select2" data-toggle="select2">
                                        <option>Select</option>
                                        <option value="1">Company 1</option>
                                        <option value="2">Company 2</option>
                                    </select>
                                </div>
                                <div class="mb-3 d-flex flex-column align-items-start">
                                    <label class="form-label small">Select Card</label>
                                    <select class="form-control select2" data-toggle="select2">
                                        <option>Select</option>
                                        <option value="1">Card 1</option>
                                        <option value="2">Card 2</option>
                                    </select>
                                </div>
                                <div class="mb-3 d-flex flex-column align-items-start">
                                    <label class="form-label small">Top Up Amount *</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div> <!-- end card body-->
        </div> <!-- end card -->
        </div><!-- end col-->
        </div> <!-- end row-->


        <%- contentFor('FooterJs') %>
            <!-- Datatables js -->
            <script src="assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
            <script src="assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
            <script src="assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.pdfmin.js"></script>
            <script src="assets/vendor/select2/js/select2.min.js"></script>
            <script src="assets/vendor/flatpickr/flatpickr.min.js"></script>
            <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>



            <!-- Flatpickr Timepicker Plugin js -->
            <script src="assets/vendor/flatpickr/flatpickr.min.js"></script>

            <!-- Typehead Demo js -->

            <!-- Timepicker Demo js -->
            <script src="assets/js/pages/demo.flatpickr.js"></script>

            <!-- <script src="assets/js/pages/demo.typehead.js"></script> -->
            <!-- Daterangepicker Plugin js -->
            <script src="assets/vendor/daterangepicker/moment.min.js"></script>
            <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>





            <!-- Datatable Demo Aapp js -->
            <!-- <script src="assets/js/pages/demo.datatable-init.js"></script> -->
            <script>
                flatpickr("#range-datepicker", {
                    mode: "range",
                    dateFormat: "d-m-Y"
                });



                $(document).ready(() => {
                    $('.select3').select2({
                        width: '100%',
                        dropdownParent: $('#offcanvasRight')

                    })
                })


                var a = $("#users_table").DataTable({
                    lengthChange: !1,
                    buttons: ["copy", "print", "excel", "csv", "pdf"],
                    language: {
                        paginate:
                        {
                            previous: "<i class='ri-arrow-left-s-line'>",
                            next: "<i class='ri-arrow-right-s-line'>"
                        }
                    },
                    drawCallback: function () {
                        $(".dataTables_paginate > .pagination").addClass("pagination-rounded")
                    }
                });
                a.buttons().container().appendTo("#users_table_wrapper .col-md-6:eq(0)");
            </script>